.freecode{
    text-align: center;
    font-weight: lighter;
    font-size:40px
}
.boss{
    width: 1000px;
    margin: 0px auto;
}
.header{
    width: 100%;
    height: 89px;
    margin: 0px;
}
.logo{
    float: left;
}
.list ul{
    list-style: none;
}
.list ul li{
    float: left;
    margin-top: 28px;
    border-right: 0.5px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
    text-align: center; 
}
.list ul li a{
    text-decoration: none;
    /* color: #ffffff; */
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.login ul li{
    float: right;
    margin-top: 28px;
    list-style: none;
    border-right: 0.5px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 48, 48); 
}
.login ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.list ul li a:hover{
    background-color: whitesmoke;
    color: blueviolet  ;
}
.body{
    margin: 60px 0px 480px 0px;
    width: 1000px;
}
.messenger{
    margin: 0px auto;
    width: 700px;
}
.messenger p{
    text-align: left;
    font-family: Arial;
    font-size: 20px;
    color:#6e6b6a;
}
.messenger h2{
    text-align: center;
    font-family: Arial;
    font-size: 30px
}
.messenger p img{
    width:auto;
    height: 480px;
}
.messenger1{
    margin: 50px 0px;
}
.messenger .view{
    font-size: 12px;
    font-weight: bolder;
    margin-bottom:px;
    color:#13b1f5;
}
ul li{
    font-size: 20px;
    font-family: Arial;
    color: #6e6b6a;
}
.footer{
    width: 1000px;
    height: 415px;
    margin-top: 50px;
    background: #151515;
}
.footer_one{
    width: 325px;
    height: 415px;
    border-right: 1px solid #ffffff;
    float: left;
}
.footer_one img{
    margin: 30px;
}
.footer_two{
    width: 340px;
    height: 415px;
    border-right: 1px solid #ffffff;
    float: left;
}
.footer_three{
    width: 325px;
    float: left;
}

.text_three{
    color: #ffffff;
    margin: 30px;
    font-size: 17px;
    font-family: Arial;
}

hr{
    color: #c7c5c4;
}
.text{
    color:#ffffff;
    margin: 30px;
    font-size: 18px;
    font-family: Arial;
}